<!DOCTYPE HTML>
<html lang="en" class="tc-stone">
    <head prefix="og: http://ogp.me/ns#">

    
    
    <title>Building | U-M LSA Kelsey Museum of Archaeology</title>

    
    <meta property="og:title" content="Building | U-M LSA Kelsey Museum of Archaeology"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://lsa.umich.edu/kelsey/about-us/history/building.html"/>
    <meta property="og:image" content="https://lsa.umich.edu/kelsey/about-us/history/building.lsa-image-servlet.jpg"/>
    <meta property="og:description"/>
    <meta property="fb:app_id" content="196603227047218"/>
    <meta name="keywords" data-lsa-tags="[]"/>
    <meta name="description"/>
    

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="canonical" href="https://lsa.umich.edu/kelsey/about-us/history/building.html"/>
    

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    

    
    
<script src="/etc.clientlibs/clientlibs/granite/jquery.min.ACSHASHcee8557e8779d371fe722bbcdd3b3eb7.js"></script>
<script src="/etc.clientlibs/clientlibs/granite/utils.min.ACSHASH308082b4c347f4fec37ffef277d39d0e.js"></script>
<script src="/etc.clientlibs/clientlibs/granite/jquery/granite.min.ACSHASHd9075d4175ab7b0e3ccf4305a4089645.js"></script>
<script src="/etc.clientlibs/foundation/clientlibs/jquery.min.ACSHASHdd9b395c741ce2784096e26619e14910.js"></script>




    
    <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0022/7346.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>

    

    
    
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/636436/747588/css/fonts.css" data-lsa-font="U-M LSA Department Project - Basic Accents"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/v4-shims.min.css" integrity="sha512-njWvXjJPMYfvYHb2DAnEL0MS5KEmoIeZVdpK7tpxiApoL3ZoUzHSvkoSFrbASdTuIHnEVG+Ko+ES/DXKygBH4g==" crossorigin="anonymous"/>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js" integrity="sha256-20anfdngukOGXOFgqNIqGd/WPNc/48gFVKTK4c+fa8o=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha256-g6iAfvZp+nDQ2TdTR/VVKJf3bGro4ub5fvWSWVRi2NE=" crossorigin="anonymous"></script>
    <![endif]-->
    
    
    
<link rel="stylesheet" href="/etc/designs/michigan-lsa/clientlibs.min.ACSHASH29425f1693f45d038710f0df2039bd32.css" type="text/css">



    
    
<script src="/etc.clientlibs/michigan-lsa/clientlibs/bundle/dist.min.ACSHASHd7fdee9c0cdf30a8e0708b5df514e74e.js"></script>



    
    
    <!--/* Avoid Vue flash of unstyled content */ -->
    <style>        
        [v-cloak] {
            display: none !important;
        }
    </style>

    

    <link rel="icon" type="image/png" href="/etc/designs/michigan-lsa/favicon.png"/>
<!--[if IE]><link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/etc/designs/michigan-lsa/favicon.png"/><![endif]-->
    <script type="text/javascript">
  var LSADNTNotSet = navigator.doNotTrack !== '1' && window.doNotTrack !== '1';
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36677223-1"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36677223-4"></script>

<script>
  if (LSADNTNotSet) {  
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    var analyticsProp1 = "UA-36677223-1";
    gtag('config', analyticsProp1);
    var analyticsProp2 = "UA-36677223-4";
    gtag('event', 'page_view', { 'send_to': analyticsProp2});
  }
</script>

    

  
         
</head>
    <!--[if lt IE 9]>
  <body class="IE8 tc-stone">
<![endif]-->
<body>
  <div id="fb-root"></div>

  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=196603227047218&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- header -->
  

<div class="clearfix"></div>

  
    
    
    
       
      

  <div id="vue-header-root-container" class="staticTemplate" v-on:togglesearch="toggleSearch" data-lsa-cx="010787019447302904152:bmzwal6t9kk" data-lsa-number-per-page="5" data-lsa-mode="cse" data-lsa-path="/content/michigan-lsa/kelsey/en" data-lsa-serviceworker="false" data-lsa-indexed-db="false">    
    <a href="#content" class="skipToContent" tabindex="1">Skip to Content</a>
    <div class="top-bar-wrap top-bar-dark">
  <div class="container">
    <div class="row">
      
      <div class="lsa-nav col-xs-12 hidden-xs ">
        <ul>
          <li>
            <a href="https://umich.edu/">U-M</a>
            </li><li class="divider">//</li>
        
          <li>
            <a href="https://lsa.umich.edu/">LSA</a>
            </li><li class="divider">//</li>
        
          <li>
            <a href="https://lsa.umich.edu/lsa/academics/departments-and-units.html">Departments and Units</a>
            </li><li class="divider">//</li>
        
          <li>
            <a href="https://lsa.umich.edu/lsa/academics/majors-minors.html">Majors and Minors</a>
            </li><li class="divider">//</li>
        
          <li>
            <a href="https://gateway.lsa.umich.edu">LSA Gateway</a>
            </li>
        </ul>
                
      </div>
      <div class="phone-bar visible-xs col-xs-12">
        <button id="search" class="search" aria-label="Toggle Search" v-on:click="toggleSearch('xs')">
          <i class="fa fa-search fa-2x"></i>
        </button>
        <button id="hamburger" aria-label="Toggle Navigation" v-on:click="showMobileSearchBar=true" onclick="toggle_visibility('phone-menu');" class="">
          <i class="fa fa-bars fa-2x"></i>
        </button>
      </div>
    </div>
  </div>
</div>
    
    <div id="phone-search" class="phone-search-wrap slider hidden-sm hidden-md hidden-lg">
      <lsa-vuesearch inline-template v-bind.showSearchBar="false"> 
  <div>
    <form class="header-search-form pull-right" role="form" id="lsaVueSearchMobile">
        <div class="form-group">
          <div class="input-group">
            <!-- <label class="sr-only" for="umlsaSearch-mobile">Keyword Search of </label> -->
            <input id="umlsaSearch-mobile" class="form-control header-search-text" v-bind:disabled="$root.searching" v-on:change="searchTermChanged" aria-label="Search" v-model="q" type="text" name="q" placeholder="Search"/>
            <label class="sr-only" for="siteSearchSubmitMobile">Submit Site Search</label>
            <div class="input-group-btn">
              <button type="button" aria-label="Cancel Search" v-on:click="toggleSearch('xs')" class="btn btn-default cancel-search">
                <i class="fa fa-times"></i>
              </button>
              <button id="siteSearchSubmitMobile" class="btn btn-default" v-bind:disabled="$root.searching" aria-label="Submit Search" v-on:click.prevent="fetchSearch" title="Submit Search of ">
                  <i class="fa fa-search"></i><span class="hiddentext">Search</span>      
              </button>
            </div> 
          </div>
        </div>
    </form>
    <div id="lsaUnitSearchResults" v-cloak ref="resultsPopover">
  <div class="popover fade bottom in tc-stone" v-if="($root.showSearchBar || $root.showMobileSearchBar) && $root.results.length !=0">
    <div class="arrow"></div>
    <h3 class="popover-title search-page-heading themeText">Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}</h3>
    <div class="popover-content">
      <div class="search-gsa-results-wrap" style="background-color: white;">
        <template v-for="item in $root.results">
          <div>
            <div class="col-xs-12 text">
              <a class="themeLink themeText search-result" v-on:click.prevent="$root.sendSearchResultClick" v-bind:href="item.link">{{item.title}}</a>
            </div>

            <div class="clearfix" v-if="item.pagemap && item.pagemap.cse_image && item.pagemap.cse_image.length > 0">
              <div class="col-xs-2" style="padding-right: 0px; padding-top: 10px; margin-bottom: 18px;">
                <img v-bind:src="item.pagemap.cse_image[0].src" style="width: 100%" @error="$root.imageLoadError($event, item)"/>
              </div>
              <div v-bind:class="[item.pagemap.cse_image ? 'col-xs-10': 'col-xs-12']" style="margin-bottom: 18px;">
                <table cellpadding="0" cellspacing="0" border="0"> 
                  <tbody> 
                    <tr> <td class="s"> {{item.snippet}}<font color="#7E6518" size="-1"> </font></td> </tr> 
                  </tbody>
                </table>
              </div>
            </div>

            <div v-if="item.snippet && (item.pagemap == undefined || item.pagemap.cse_image == undefined)">
              <div class="col-xs-12" style="margin-bottom: 18px;">
                <table cellpadding="0" cellspacing="0" border="0"> 
                  <tbody> 
                    <tr> <td class="s"> {{item.snippet}}<font color="#7E6518" size="-1"> </font></td> </tr> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </template>

        <div class="footline" id="search-footline" style="clear: both;"> 
          <div class="lsa-pagination"> 
            <a href="#" class="previous themeText" v-on:click.prevent.stop="$root.fetchPrevious" v-bind:disabled="! $root.hasPrevious || $root.searching" v-cloak v-bind:class="{ 'inactive' : !$root.hasPrevious }">previous</a>
            <span class="seperator themeText"> | </span>
            <a href="#" class="next themeText" v-on:click.prevent.stop="$root.fetchNext" v-bind:disabled="! $root.hasNext || $root.searching" v-bind:class="{ 'inactive' : !$root.hasNext }">next</a>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div> 
  </div>
</lsa-vuesearch>
    </div>
    <div id="phone-menu" class="phone-nav-wrap slider hidden-sm hidden-md hidden-lg">
    <div class="deptartment-nav row">
        <div class="functional-nav col-xs-6">
            <h3><a href="/kelsey"><i class="fa fa-home"></i></a></h3>
            <ul>
                <li><a href="/kelsey/about-us.html">About Us</a></li>
            
                <li><a href="/kelsey/news-events.html">News and Events</a></li>
            
                <li><a href="/kelsey/give-join.html">Support</a></li>
            
                <li><a href="/kelsey/contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="audience-nav col-xs-6">
            
            <ul>
                <li><a class="audItem" href="/kelsey/visit.html">Visit</a></li>
            
                <li><a class="audItem" href="/kelsey/exhibitions.html">Exhibitions</a></li>
            
                <li><a class="audItem" href="/kelsey/collections.html">Collections</a></li>
            
                <li><a class="audItem" href="/kelsey/research.html">Research</a></li>
            
                <li><a class="audItem" href="/kelsey/publications.html">Publications</a></li>
            
                <li><a class="audItem" href="/kelsey/education.html">Education</a></li>
            </ul>
            
        </div>
    </div>
    <div class="lsa-nav col-xs-12">
        
        <ul>
            <li class="col-xs-6"><a href="https://umich.edu/">U-M</a></li>
        
            <li class="col-xs-6"><a href="https://lsa.umich.edu/">LSA</a></li>
        
            <li class="col-xs-6"><a href="https://lsa.umich.edu/lsa/academics/departments-and-units.html">Departments and Units</a></li>
        
            <li class="col-xs-6"><a href="https://lsa.umich.edu/lsa/academics/majors-minors.html">Majors and Minors</a></li>
        
            <li class="col-xs-6"><a href="https://gateway.lsa.umich.edu">LSA Gateway</a></li>
        </ul>
        
    </div>
</div>

    
      <div class="header-wrap">
        <div class="container">
          <div class="row">
            <div class="header-logo col-sm-7 col-xs-12">
              <a href="/kelsey">
                <img src="/content/dam/michigan-lsa/admin/logos/kelsey-logo.png" alt="Kelsey Museum of Archaeology" title="Kelsey Museum of Archaeology"/>
              </a>
            </div>
            <div class="header-search col-sm-3 hidden-xs">
              
  <lsa-vuesearch inline-template>
    <form class="header-search-form pull-right" role="search" id="lsaVueSearch">
      <label class="sr-only" for="umlsaSearch">Keyword Search of kelsey</label>
      <div class="input-group">
          <input v-model="q" name="q" id="umlsaSearch" aria-label="Search" v-on:keyup.13.stop="fetchSearch" v-on:change="searchTermChanged" v-on:focus="growInput" v-on:blur="shrinkInput" v-bind:disabled="$root.searching" type="text" class="form-control header-search-text"/>
          <div class="input-group-btn">
              <button class="btn btn-default cancel-search" type="button" v-cloak aria-label="Cancel Search" v-if="$root.results && $root.results.length > 0" v-on:click="toggleSearch('md')"><i class="fa fa-times"></i></button>
              <button class="btn btn-default lsa-site-searchbtn" aria-label="Submit Search" v-on:click.prevent="fetchSearch" v-bind:disabled="$root.searching" type="submit"><i class="fa fa-search"></i></button>
          </div>
      </div>
    </form>  
  </lsa-vuesearch>

            </div>
            <div class="functional-nav-wrap">
    <ul class="hidden-xs">
      
        <li>
          <a href="/kelsey/about-us.html">
            About Us</a>

          
        </li>
      
        <li>
          <a href="/kelsey/news-events.html">
            News and Events</a>

          
        </li>
      
        <li>
          <a href="/kelsey/give-join.html">
            Support</a>

          
        </li>
      
        <li>
          <a href="/kelsey/contact.html">
            Contact</a>

          
        </li>
        
      
    </ul>
</div>

          </div>
        </div>
      </div>
<!--  -->
      <div class="searchResults">
        <div id="lsaUnitSearchResults" v-cloak ref="resultsPopover">
  <div class="popover fade bottom in tc-stone" v-if="($root.showSearchBar || $root.showMobileSearchBar) && $root.results.length !=0">
    <div class="arrow"></div>
    <h3 class="popover-title search-page-heading themeText">Search: {{$root.lsaSearchQuery.q}}, Page {{$root.page}}</h3>
    <div class="popover-content">
      <div class="search-gsa-results-wrap" style="background-color: white;">
        <template v-for="item in $root.results">
          <div>
            <div class="col-xs-12 text">
              <a class="themeLink themeText search-result" v-on:click.prevent="$root.sendSearchResultClick" v-bind:href="item.link">{{item.title}}</a>
            </div>

            <div class="clearfix" v-if="item.pagemap && item.pagemap.cse_image && item.pagemap.cse_image.length > 0">
              <div class="col-xs-2" style="padding-right: 0px; padding-top: 10px; margin-bottom: 18px;">
                <img v-bind:src="item.pagemap.cse_image[0].src" style="width: 100%" @error="$root.imageLoadError($event, item)"/>
              </div>
              <div v-bind:class="[item.pagemap.cse_image ? 'col-xs-10': 'col-xs-12']" style="margin-bottom: 18px;">
                <table cellpadding="0" cellspacing="0" border="0"> 
                  <tbody> 
                    <tr> <td class="s"> {{item.snippet}}<font color="#7E6518" size="-1"> </font></td> </tr> 
                  </tbody>
                </table>
              </div>
            </div>

            <div v-if="item.snippet && (item.pagemap == undefined || item.pagemap.cse_image == undefined)">
              <div class="col-xs-12" style="margin-bottom: 18px;">
                <table cellpadding="0" cellspacing="0" border="0"> 
                  <tbody> 
                    <tr> <td class="s"> {{item.snippet}}<font color="#7E6518" size="-1"> </font></td> </tr> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </template>

        <div class="footline" id="search-footline" style="clear: both;"> 
          <div class="lsa-pagination"> 
            <a href="#" class="previous themeText" v-on:click.prevent.stop="$root.fetchPrevious" v-bind:disabled="! $root.hasPrevious || $root.searching" v-cloak v-bind:class="{ 'inactive' : !$root.hasPrevious }">previous</a>
            <span class="seperator themeText"> | </span>
            <a href="#" class="next themeText" v-on:click.prevent.stop="$root.fetchNext" v-bind:disabled="! $root.hasNext || $root.searching" v-bind:class="{ 'inactive' : !$root.hasNext }">next</a>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    
    <div class="lsa_policy_notice-wrap ">
  
    
    
  

  

</div>



  </div>
  <div class="department-nav-hoverzone">
    <div class="department-nav-wrap hidden-xs theme-bg gradient">
        <div class="bg" style="background-image: url('/content/dam/michigan-lsa/admin/background-options/kelsey-footer.png');"></div>
        <div class="top-box theme-border"></div>
        <div class="container audience-nav">
           <div class="row center">
               
               <ul class="audience-nav-item">
                  <li>
                      <a class="audItem theme-bg theme-border" href="/kelsey/visit.html" data-hover="visit">Visit</a>
                      
                  </li>

                
                  <li>
                      <a class="audItem theme-bg theme-border" href="/kelsey/exhibitions.html" data-hover="exhibitions">Exhibitions</a>
                      
                  </li>

                
                  <li>
                      <a class="audItem theme-bg theme-border" href="/kelsey/collections.html" data-hover="collections">Collections</a>
                      
                  </li>

                
                  <li>
                      <a class="audItem theme-bg theme-border" href="/kelsey/research.html" data-hover="research">Research</a>
                      
                  </li>

                
                  <li>
                      <a class="audItem theme-bg theme-border" href="/kelsey/publications.html" data-hover="publications">Publications</a>
                      
                  </li>

                
                  <li>
                      <a class="audItem theme-bg theme-border" href="/kelsey/education.html" data-hover="education">Education</a>
                      
                  </li>

                </ul>
            </div>
        </div>
        <div class="bottom-box theme-border"></div>
      </div>

      
        <div class="level-two-nav hidden-xs" id="audMenu-visit">
          <div class="container">
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/visit/planning-your-visit.html">Planning Your Visit</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/visit/driving-directions.html">Driving Directions</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/visit/accessibility.html">Accessibility</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/visit/parking.html">Parking</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/visit/free-and-reciprocal-membership-programs.html">Free and Reciprocal Membership Programs</a>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="level-two-nav hidden-xs" id="audMenu-exhibitions">
          <div class="container">
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/exhibitions/permanent-exhibition.html">Permanent Exhibition</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/exhibitions/special-exhibitions.html">Special Exhibitions</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/exhibitions/online-exhibitions.html">Online Exhibitions</a>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="level-two-nav hidden-xs" id="audMenu-collections">
          <div class="container">
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/collections/notable-collections.html">Notable Collections</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/collections/forms.html">Forms</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/collections/collections-policies.html">Collections Policies</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/collections/search-collections.html">Search Collections</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/collections/rights-and-permissions.html">Rights and Reproductions</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/collections/collections-faq.html">Collections FAQ</a>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="level-two-nav hidden-xs" id="audMenu-research">
          <div class="container">
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/research/research-news.html">Research News</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/research/fieldwork.html">Fieldwork</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/research/library.html">Library</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/research/current-field-projects.html">Current Field Projects</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/research/conservation.html">Conservation</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/research/archives.html">Collection Archives</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/research/past-field-projects.html">Past Field Projects</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/research/bioarchaeology-lab.html">Bioarchaeology Lab</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/research/conferences-workshops.html">Conferences and Workshops</a>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="level-two-nav hidden-xs" id="audMenu-publications">
          <div class="container">
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/publications/kelsey-museum-publication-series.html">Kelsey Museum Publications Series </a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/publications/newsletters.html">Kelsey Museum Newsletter</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/publications/publications-faqs.html">Publications FAQs</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/publications/kelsey-museum-fieldwork-series.html">Kelsey Museum Fieldwork Series</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/publications/kelsey-museum-annual-reports.html">Kelsey Museum Annual Reports</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/publications/kelsey-museum-studies-series.html">Kelsey Museum Studies Series</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/publications/early-excavations.html">Publications of Early Michigan Excavations</a>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="level-two-nav hidden-xs" id="audMenu-education">
          <div class="container">
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/education/university-and-college.html">University and College</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/education/kelsey-home.html">Kelsey@Home</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/education/k-12-educators-and-schools.html">K-12 Educators and Schools</a>
                  
                </li>
              
                <li>
                  <a href="/kelsey/education/education-and-outreach-faqs.html">Education and Outreach FAQs</a>
                  
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>
                  <a href="/kelsey/education/public-programs.html">Public Programs</a>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
    
</div>
<div class="caution-tape dmc-cyan-bg"></div>


  

      
     

    
    <div class="container" id="content">
  <div class="row">

    <!-- mandatory page components -->
    <div class="col-xs-12">
      <div><div class="breadcrumb-wrap tc-stone">
  <span class="home hidden-xs">
    <a class="themeLink enabled" href="/kelsey" title="home"><i class="fa fa-home"></i></a>
  </span>
  
  <ol class="breadcrumb hidden-xs">
      <li>
        
	      <a class="themeLink enabled" href="/kelsey/about-us.html">About Us</a>
      </li>
  
      <li>
        
	      <a class="themeLink enabled" href="/kelsey/about-us/history.html">History</a>
      </li>
  
      <li class="active">
        <span class="themeLink disabled themeText">Building</span>
	      
      </li>
  </ol>
  <div class="visible-xs">
    <ol class="breadcrumb closed">
        <li><a class="themeLink enabled" href="/kelsey"><i class="fa fa-home"></i></a></li>
        <li><a class="elipsis themeLink enabled" href="#">...</a></li>        
        <li class="currentPage"> <a class="themeText disabled" href="/kelsey/about-us/history/building.html">Building</a> </li>
    </ol>
  </div>  
  <div class="visible-xs">
    <ol class="breadcrumb open">
        <li>
          <a class="themeLink enabled" href="/kelsey"><i class="fa fa-home"></i></a>
        </li>
        <ol class="inner">
		      <li>
            <a class="themeLink enabled" href="/kelsey/about-us.html">About Us</a>
          </li>
        
		      <li>
            <a class="themeLink enabled" href="/kelsey/about-us/history.html">History</a>
          </li>
        
		      <li>
            
          </li>
        </ol>
        <li><a class="elipsis close theme-bg" href="#">[X] close</a></li>
    </ol>
  </div>
</div></div>
    </div>

    <div class="col-sm-4 hidden-xs">
      <div>

<div class="sidenav-wrap tc-stone">
    <ol class="sidenav">
        
        <li class="banner theme-bg">
            <a href="/kelsey/about-us.html">About Us</a>
            
        </li>
        <li class="borderbottom"></li>
        
      
      
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/kelsey/about-us/faqs.html">FAQs</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second active  kids">
                 <a class="themeLink " href="/kelsey/about-us/history.html">History</a>
        </li>

        
        <li>     

          <!-- start 3rd level nav -->  
          <ol class="sidenav">
            <li class="third clearfix active"> 
            
              <div class="box theme-bg"></div>
              
              <span class="themeLink">Building</span>
            </li>


              

          
            <li class="third clearfix "> 
            
              <div class="box theme-bg"></div>
              <a class="themeLink" href="/kelsey/about-us/history/collections.html">Collections History</a>
              
            </li>


              

          
            <li class="third clearfix "> 
            
              <div class="box theme-bg"></div>
              <a class="themeLink" href="/kelsey/about-us/history/francis-kelsey.html">Francis W. Kelsey</a>
              
            </li>


              

          </ol> <!-- End 3rd level Nav loop -->
        </li>
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/kelsey/about-us/mission.html">Mission</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/kelsey/about-us/staff.html">People</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/kelsey/about-us/kelsey-museum-policies.html">Kelsey Museum Policies</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/kelsey/about-us/reflections-on-2020.html">Reflections on 2020</a>
        </li>

        
        
           
         <!-- End 2nd Level Nav -->
    </ol>
</div></div>
    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="pageTitle">
    <h1>Building</h1>
    <a class="sideNavBurger visible-xs themeText themeLink" href="#"><i class="fa fa-bars"></i></a>
</div>

      <div class="phone-sidenav">

<div class="sidenav-wrap tc-stone">
    <ol class="sidenav">
        
        <li class="banner theme-bg">
            <a href="/kelsey/about-us.html">About Us</a>
            
        </li>
        <li class="borderbottom"></li>
        
      
      
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/kelsey/about-us/faqs.html">FAQs</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second active  kids">
                 <a class="themeLink " href="/kelsey/about-us/history.html">History</a>
        </li>

        
        <li>     

          <!-- start 3rd level nav -->  
          <ol class="sidenav">
            <li class="third clearfix active"> 
            
              <div class="box theme-bg"></div>
              
              <span class="themeLink">Building</span>
            </li>


              

          
            <li class="third clearfix "> 
            
              <div class="box theme-bg"></div>
              <a class="themeLink" href="/kelsey/about-us/history/collections.html">Collections History</a>
              
            </li>


              

          
            <li class="third clearfix "> 
            
              <div class="box theme-bg"></div>
              <a class="themeLink" href="/kelsey/about-us/history/francis-kelsey.html">Francis W. Kelsey</a>
              
            </li>


              

          </ol> <!-- End 3rd level Nav loop -->
        </li>
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/kelsey/about-us/mission.html">Mission</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  kids">
                 <a class="themeLink " href="/kelsey/about-us/staff.html">People</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/kelsey/about-us/kelsey-museum-policies.html">Kelsey Museum Policies</a>
        </li>

        
        
           
        
        
            
        <!-- print second level nav -->              
        <li class="second  ">
                 <a class="themeLink " href="/kelsey/about-us/reflections-on-2020.html">Reflections on 2020</a>
        </li>

        
        
           
         <!-- End 2nd Level Nav -->
    </ol>
</div></div>

      <!-- optional page components -->

      <div id="page-content">


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="textimage aem-GridColumn aem-GridColumn--default--12"><div>
  
    
    


  <div style="padding: 0px 12px 0px 12px;" class="textimage-right   col-xs-8"><div class="image-wrap     cq-dd-image " style="padding: 6px;
    ">

  <div>
  	

    	<div>
    		<div class="shine" data-picture data-alt="Newberry Hall">
            <div data-src="/content/michigan-lsa/kelsey/en/about-us/history/building/jcr:content/par/textimage/image.transform/bigfree/image.jpg" data-media="(min-width: 1px)"></div>
            <noscript>
                  <img src="/content/michigan-lsa/kelsey/en/about-us/history/building/jcr:content/par/textimage/image.transform/bigfree/image.jpg" alt="Newberry Hall"/>
            </noscript>
    		</div>
      </div>

       
<!--       <div class="caption"
          data-sly-test="true">
        <small data-sly-element=""
          data-sly-attribute.href=""
          data-sly-attribute.target="">Newberry Hall.</small>
      </div> -->
  	
    <div class="caption text ">
      <span>Newberry Hall.</span>
    </div>
  </div>
</div>
</div>
  <div class="textimage-text"><div class="text-wrap    ">
  
    
      <p>The structure that houses the Kelsey Museum was originally built as a home for the Students' Christian Association. Construction on this Richardsonian Romanesque building, which is listed on the National Register of Historic Places and is one of the oldest buildings on the University of Michigan campus, began in 1888 and was completed in 1891. It was dedicated on July 21, 1891, and was named Newberry Hall after John S. Newberry, a railroad magnate whose widow Helen Newberry contributed $18,000 to the eventual $40,000 cost of construction.</p> 
<p>In what is now the library of the Museum is a beautiful <a adhocenable="false" href="/kelsey/about-us/history/building/tiffany-window.html">Tiffany window</a>, one of two in Ann Arbor.</p> 
<p>The Students' Christian Association was not officially affiliated with the University of Michigan, and in 1921 the organization leased Newberry Hall to the University for classroom space. In 1928 the archaeological collections were moved into the building. In 1937 Newberry Hall was finally sold to the University. In 1953 the Museum was officially named after <a href="/kelsey/about-us/history/francis-kelsey.html" adhocenable="false">Francis W. Kelsey</a>, who founded the University's archaeological collections.</p> 
<p>In 1993–94 the Museum, suffering from overcrowding of its staff and inadequate storage facilities for its artifacts, underwent the first of two significant renovations. A new third floor was added in the space formerly occupied by a choir loft left over from the building's days as a Christian association. Thanks to the generosity of donors Eugene and Emily Grant, this new addition contained a Sensitive Artifact Facility and Environment for climate-controlled collections storage, in addition to a new registry, conservation lab, and objects study area.</p>
     
    <div class="clearfix"></div>
  
</div>

</div>
</div></div>
<div class="textimage aem-GridColumn aem-GridColumn--default--12"><div>
  
    
    


  <div style="padding: 0px 12px 0px 12px;" class="textimage-left   col-xs-8"><div class="image-wrap     cq-dd-image " style="padding: 6px;
    ">

  <div>
  	

    	<div>
    		<div class="shine" data-picture data-alt="Upjohn Wing">
            <div data-src="/content/michigan-lsa/kelsey/en/about-us/history/building/jcr:content/par/textimage_1108658096/image.transform/bigfree/image.jpg" data-media="(min-width: 1px)"></div>
            <noscript>
                  <img src="/content/michigan-lsa/kelsey/en/about-us/history/building/jcr:content/par/textimage_1108658096/image.transform/bigfree/image.jpg" alt="Upjohn Wing"/>
            </noscript>
    		</div>
      </div>

       
<!--       <div class="caption"
          data-sly-test="true">
        <small data-sly-element=""
          data-sly-attribute.href=""
          data-sly-attribute.target="">William E. Upjohn Exhibit Wing.</small>
      </div> -->
  	
    <div class="caption text left">
      <span>William E. Upjohn Exhibit Wing.</span>
    </div>
  </div>
</div>
</div>
  <div class="textimage-text"><div class="text-wrap    ">
  
    
      <p>Then in 2003 a generous gift from Ed and Mary Meader of Kalamazoo funded construction of the William E. Upjohn Exhibit Wing, added on to the back of the existing Newberry Hall. The Upjohn Wing provides over 20,000 feet of study, storage, and display space in a state-of-the-art, climate-controlled facility that now houses all of the Kelsey collections and, as of November 2009, presents a new installation of the Kelsey's permanent collection.</p>
     
    <div class="clearfix"></div>
  
</div>

</div>
</div></div>
<div class="text parbase aem-GridColumn aem-GridColumn--default--12"><div class="text-wrap    ">
  <p data-emptytext="Text">
    
      
     
    <div class="clearfix"></div>
  </p>
</div>

</div>
<div class="button aem-GridColumn aem-GridColumn--default--12"><div class="button-wrap col-xs-12 tc-stone classic
  " style="padding: 0 6px;">
    <div class="theme-bg">
      <a href="/kelsey/about-us/history/building/tiffany-window.html" class="btn left  lsa-button-click   " role="button">
          Tiffany Window
      </a>
    </div>
</div>


<div class="clearfix"></div></div>

    
</div>
</div>
    </div>

  </div>
  <div class="row">
    





  </div>
</div>

    
    
  <div class="department-footer-wrap theme-bg css-gradient ">
    <div class="bg" style="background-image: url('/content/dam/michigan-lsa/admin/background-options/kelsey-footer.png');"></div>
    <div class="row margin-fix">
        <div class="top-box theme-border"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12 dept-name">
                <a href="/kelsey">Kelsey Museum of Archaeology</a>                
                
            </div>

            <div class="clearfix-footer"></div>
            
            <!-- <div class="middle-box theme-border hidden-lg hidden-md hidden-sm col-xs-12"></div> -->

            <div class="contact col-md-5 col-sm-6 col-xs-12">
              <a rel="noopener noreferrer" href="http://campusinfo.umich.edu/campusmap" target="_blank">
                <i class="fa fa-map-marker text-fix"></i>434 South State Street<br/>
                <i class="fa fa-map-marker invisible text-fix"></i>
                <i class="fa fa-map-marker invisible text-fix"></i>Ann Arbor, MI 48109-1390
              </a>
              <div class="email">
                  <i class="fa fa-envelope-o text-fix"></i><a href="mailto:kelseymuse@umich.edu">kelseymuse@umich.edu</a>
               </div>
               

            </div>
            <div class="contact col-md-3 col-sm-5 col-xs-12">
               <label class="sr-only" for="deptPhone">Click to call 734.764.9304</label>
               <div class="phone" id="deptPhone" title="Call Kelsey Museum of Archaeology">
                   <i class="fa fa-phone text-fix"></i>
                   734.764.9304
               </div>
               <div class="fax"><i class="fa fa-print text-fix"></i>734.763.8976</div>               
               <div class="sitemap"><i class="fa fa-envelope-o invisible text-fix"></i><a href="/kelsey/sitemap.html">Sitemap </a> </div>
            </div>
            <div class="contact col-sm-1 col-xs-12">
               <div class="social-icons"> <!-- -->
                 <a class="facebook" href="https://www.facebook.com/kelseymuseum"><i class="fa fa-facebook-square" aria-hidden="true"></i><span class="hiddentext">Facebook</span></a>
                 <a class="twitter" href="https://twitter.com/kelseymuseum"><i class="fa fa-twitter-square" aria-hidden="true"></i><span class="hiddentext">Twitter</span></a>
                 
                 
                 <a class="instagram" href="http://instagram.com/kelseymuseum/"><i class="fab fa-instagram-square" aria-hidden="true"></i><span class="hiddentext">Instagram</span></a>
                 <a class="wordpress" href="http://kelseymuseum.wordpress.com/"><i class="fa fa-wordpress" aria-hidden="true"></i><span class="hiddentext">WordPress</span></a>
                 
                 
                 
              </div>
            </div>            
          </div>
        </div>
    <div class="row margin-fix">
        <div class="bottom-box theme-border"></div>
    </div>
</div>
  
    
    

<div class="footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 footer-logo">
                <a href="https://lsa.umich.edu"><img src="/content/dam/michigan-lsa/admin/logos/lsa-logo.png" alt="LSA - College of Literature, Science, and The Arts - University of Michigan"/></a>
            </div>

<!-- /* defaults */-->
            

<!-- /*configured thru admin or homepage properties */-->
            
                

                
                   <div class="col-md-2 col-sm-3 col-xs-6">
                        <ul>
                            <li class="title">Information For </li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/prospective-students.html">Prospective Students</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/current-students.html">Current Students</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/faculty-staff.html">Faculty and Staff</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/alumni-friends.html">Alumni and Friends</a></li>
                            
                        </ul>
                    </div>
                

                
                   <div class="col-md-2 col-sm-3 col-xs-6">
                        <ul>
                            <li class="title">More about LSA </li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/about.html">About LSA</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/prospective-students/undergraduate/admissions.html">How Do I Apply?</a></li>
                            
                                <li><a href="http://lsa.umich.edu/opportunityhub">LSA Opportunity Hub</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/news-events/all-news.html">News</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/news-events/lsa-magazine.html">LSA Magazine</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/support-lsa/give-to-the-college.html">Give</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/about/maps.html">Maps</a></li>
                            
                        </ul>
                    </div>
                

                
                   <div class="col-md-2 col-sm-3 col-xs-6">
                        <ul>
                            <li class="title">Student Resources </li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/academics/courses.html">Courses</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/current-students/undergraduate-students/academic-advising.html">Academic Advising</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/academics/majors-minors.html">Majors and Minors</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/academics/departments-and-units.html">Departments and Units</a></li>
                            
                                <li><a href="https://lsa.umich.edu/lsa/academics/engaged-learning/global-studies.html">Global Studies</a></li>
                            
                                <li><a href="https://lsa.umich.edu/opportunityhub">LSA Opportunity Hub</a></li>
                            
                        </ul>
                    </div>
                

                 <div class="col-md-2 col-sm-3 col-xs-6">
                    <ul>
                        <li class="title">Connect</li>
                        
                            <li><a href="http://lsa.umich.edu/lsa/about/contact-us/social-media.html">Social Media</a></li>
                        
                            <li><a href="https://lsa.umich.edu/lsa/alumni-friends/get-informed/contact-info-update.html">Update Contact Info</a></li>
                        
                            <li><a href="https://lsa.umich.edu/lsa/about/contact-us.html">Contact Us</a></li>
                        
                            <li><a href="https://umich.edu/about/privacy">Privacy Statement</a></li>
                        
                        <li><a href="mailto:lsa.web.support@umich.edu?Subject=Report%20Bug%20/content/michigan-lsa/kelsey/en/about-us/history/building&amp;body=requestURL%20http://lsa.umich.edu/content/michigan-lsa/kelsey/en/about-us/history/building.html" id="myCustomTrigger">Report Feedback</a></li>
                    </ul>
                </div>

            
        </div>
    </div>
    <div class="copyright">
        &copy; <a href="http://regents.umich.edu/">2022 Regents of the University of Michigan</a>
    </div>
</div>

    
<script src="/etc/designs/michigan-lsa/clientlibs/jquery-touch.min.ACSHASHe60682b3971b0880ed9cf9d50d90c741.js"></script>
<script src="/etc/designs/michigan-lsa/clientlibs.min.ACSHASHb9de60fd032e2e99e8ec9dd7f961b73b.js"></script>


</meta>

<div class="cloudservice generictracker">

</div>



</body>

</html>